.dashboard-page-container{
    display: flex;
    flex-direction: column;
}
span{
    height: 100vh;
    
}
// .blog-page-container
// {
//     height: 90vh;
//     width: 100%;
//     background-color: olivedrab;
// }