.imageslider{
    height: 90vh;
    width: 100%;
    display: flex;
}
.home-image-1{
    height:90vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 10vh;
    left: 0;
}
// .home-image-1{
//     z-index: 3;
//     animation-delay: 10s;
//     animation: slide 5s linear infinite;
// }
// .home-image-2{
//     z-index: 2;
//     animation-delay:20s;
//     animation: slide 5s linear infinite;

// }
// .home-image-3{
//     z-index: 1;
//     animation-delay: 30s;
//     animation: slide 5s linear infinite;
// }

// @keyframes slide {
//     0%{
//         left: 0;
//     }
//     100%{
//         left:100vw;

//     }
    
// }
.home-page-text{
    z-index: 10;
    height: 90vh;
    width: 50%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    align-items: left;
    text-align: left;
    justify-content: center;
    color: var(--textcol);
    
}
.home-start-button{
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}
.home-text-title{
    padding-bottom: 20px;
    font-size: 4rem;
}
.home-text-subtitle-1{
    padding-bottom: 20px;
    font-size: 4rem;
}
.home-text-subtitle-2{
    font-size: 2rem;
}