.imageslider{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(144.74, 100%, 38%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}
// .home-image-1{
//     height:100vh;
//     width: 100%;
//     object-fit: cover;
//     // position: absolute;
//     // top: 10vh;
//     left: 0;
// }
// .home-image-1{
//     z-index: 3;
//     animation-delay: 10s;
//     animation: slide 5s linear infinite;
// }
// .home-image-2{
//     z-index: 2;
//     animation-delay:20s;
//     animation: slide 5s linear infinite;

// }
// .home-image-3{
//     z-index: 1;
//     animation-delay: 30s;
//     animation: slide 5s linear infinite;
// }

// @keyframes slide {
//     0%{
//         left: 0;
//     }
//     100%{
//         left:100vw;

//     }
    
// }
