.user-room-page{
    height: 100vh;
    width: 100%;
    background-color: #000222;
    background-image: 
        radial-gradient(at 47% 33%, hsl(265.71, 62%, 15%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(237.62, 100%, 19%) 0, transparent 55%);
    display: flex;
    flex-direction: column;
}
.user-room-music-player{
    height: 10vh;
    width: 100%;
    margin-top: 10vh;
    background-color: paleturquoise;
}