.signup-page{
    margin-top: 10vh;
    height: 90vh;
    width: 100%;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1647519724515-25805711b315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}