.user-home-page-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.user-home-left{
    height: auto;
    width: 70%;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
.user-home-left-wish{
    height: 15vh;
    width: 70%;
    // background-color: palevioletred;
    margin-left: 5vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}
.user-home-left-wish-text{
    font-size: 1.7rem;
}
.user-home-left-wish-card{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}
.user-home-left-button-options{
    height: 5vh;
    width: 10vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #0d66d0;
    margin-right: 2vw;
    border-radius: 20px;
    transition: all 1s;
    cursor: pointer;
    outline: none;
    border: none;
}
.user-home-left-button-options:hover{
    transform: scale(1.1);
    border: 2px solid aliceblue;
}
.user-home-left-rooms{
    margin-top: 5vh;
    height: 27vh;
    width: 70%;
    // background-color: palevioletred;
    margin-left: 5vw;
}
.user-home-left-rooms-text{
    font-size: 1.7rem;
}
.user-home-left-room-card{
    margin-top: 2vh;
    height: 20vh;
    width: 95%;
    background-color: gray;
}
.user-home-left-repositories{
    margin-top: 5vh;
    height: 27vh;
    width: 70%;
    // background-color: palevioletred;
    margin-left: 5vw;
}
.user-home-left-repository-text{
    font-size: 1.7rem;
}
.user-home-left-repository-card{
    margin-top: 2vh;
    height: 20vh;
    width: 95%;
    background-color: gray;
}
.user-home-right{
    height: auto;
    width: 30%;
    // background-color: bisque;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10vh;
}
.user-home-task-remaining{
    height: 35vh;
    margin-top: 30vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    // background-color: salmon;
}
.user-home-task-remaining-title{
    font-size: 1.5rem;
}
.user-home-task-remaining-card{
    margin-top: 2vh;
    height: 24vh;
    width: 12vw;
    border-radius: 20px;
    background-color: gray;
}
.user-home-music-player{
    height: 35vh;
    margin-top: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    // background-color: salmon;
}
.user-home-music-player-title{
    font-size: 1.5rem;
}
.user-home-music-player-card{
    margin-top: 2vh;
    height: 24vh;
    width: 12vw;
    border-radius: 20px;
    background-color: gray;
}